@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import fonts */
@import "poppins.css";
@import "inter.css";

* {
	box-sizing: border-box;

}

html {
	width: 100%;
	min-height: 100vh;
}
body, #__next {
	width: inherit;
	min-height: inherit;
	margin: 0;
	padding: 0;
}

.shimmer {
	@apply animate-pulse bg-slate-200
}

.button {
	@apply inline-flex justify-center items-center px-4 py-2 text-base font-medium rounded-md border shadow-sm duration-200 font-inter focus:outline-none sm:text-sm;
}

.modal-overlay {
	@apply fixed inset-0 bg-gray-500/40 transition-opacity backdrop-blur-md
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.prose :where(img):not(:where([class~=\"not-prose\"] *)) {
	margin-top: 0;
	margin-bottom: 0;
	@apply rounded-md border border-gray-300 shadow-md
}

.prose :where(h1, h2, h3, h4, h5, h6):not(:where([class~=\"not-prose\"] *)) {
	color: inherit;
}

.prose :where(code):not(:where([class~="not-prose"] *))::before, .prose :where(code):not(:where([class~="not-prose"] *))::after {
  content: "";
}

@keyframes enter {
	0% {
		transform: scale(.9);
		opacity: 0
	}

	to {
		transform: scale(1);
		opacity: 1
	}
}

.animate-enter {
	animation: enter .2s ease-out
}

@keyframes leave {
	0% {
		transform: scale(1);
		opacity: 1
	}

	to {
		transform: scale(.9);
		opacity: 0
	}
}

.animate-leave {
	animation: leave .15s ease-in forwards
}

.w-md-editor *, .wmde-markdown * {
	font-family: "Inter" !important;
}

@keyframes blink {
    100% { border-color: white; }
}

.after\:animate-blink::after {
    content: "" !important;
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.bg-pan {
	@apply bg-[linear-gradient(180deg,_#FF218C_33.333%,_#FFD800.333%_66.666%,_#21B1FF_66.666%)];
}

.bg-pan-text {
	@apply bg-[linear-gradient(90deg,_#FF218C_33.333%,_#FFD800.333%_66.666%,_#21B1FF_66.666%)];
}

.bg-trans {
	@apply bg-[linear-gradient(180deg,_#5BCEFA_20%,_#F5A9B8_20%_40%,_#FFFFFF_40%_60%,_#F5A9B8_60%_80%,_#5BCEFA_80%)];
}

.bg-trans-text {
	@apply bg-[linear-gradient(90deg,_#5BCEFA_20%,_#F5A9B8_20%_40%,_#CCC_40%_60%,_#F5A9B8_60%_80%,_#5BCEFA_80%)];
}

.bg-france {
	@apply bg-[linear-gradient(90deg,_#002395_33.333%,_#FFF_33.333%_66.666%,_#ED2939_66.666%)];
}

.bg-france-text {
	@apply bg-[linear-gradient(90deg,_#002395_33.333%,_#CCC_33.333%_66.666%,_#ED2939_66.666%)];
}